
$white: #fff;
$black: #000;
$red: #dc3545;
$blue: #007bff;
$blue-light: #17a2b8;
$green: #28a745;
$orange: #FFA726;
$yellow: #ffc107;

$grey: #888;
$grey-dark: #343a40;
$grey-lightest: #f8f9fa;
$grey-lighter: darken($grey-lightest, 10%);

$color-text: $grey-dark;

$color-border: lighten($grey, 10%);

$color-primary: $blue;
$color-secondary: $blue;
$color-tertiary: $blue;

$color-danger: $red;
$color-error: $color-danger;
$color-warning: $orange;
$color-success: $green;
$color-notice: $blue;

$colors: (
  primary: $color-primary,
  secondary: $color-secondary,
  tertiary: $color-tertiary,
  
  error: $color-error,
  danger: $color-danger,
  warning: $color-warning,
  success: $color-success,
  notice: $color-notice,
);
