
.messages, 
.alert {
	display: block;
	padding: 1em 2em;
	border: 1px solid;
	margin-bottom: 1em;
}

@each $name, $color in $colors {
  .messages--#{$name},
  .alert-#{$name} {
    border-color: darken($color, 5%);
    background: mix($color, $white, 5%);
    color: $color;
  }
}

