
.form__select,
.form__text {
	padding: 0.75em 1em;
	border: 1px solid $color-border;
	box-sizing: border-box;
}

.form__elem {
	margin-bottom: 0.5em;
}

.form__checkbox {
	position: absolute;
	opacity: 0;
}

.form__label--checkbox {
  display: inline-block;
  padding: 0.125em 0 0.125em 3.5em;
}
